.feed {
    flex: 0.5;
    border-right: 0.063rem solid var(--twitter-background);
    /* min-width: fit-content; */
    /* min-width: 26rem; */
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.feed__header {
    position: sticky;
    /* position: fixed; */
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    /* padding: 15px 20px; */
}

.feed__header>h2 {
    font-size: 20px;
    font-weight: 700;
    /* padding: 15px 20px; */
    padding-left: 1rem;
}

.feed__header>div {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.feed__header>div>p {
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 3rem;
    font-weight: 500;
}

.feed__header>div>p:hover {
    background-color: var(--twitter-background);
    cursor: pointer;

}