.profilePage {
    flex: 0.5;
    border-right: 0.063rem solid var(--twitter-background);
    overflow-y: scroll;
}
.profilePage::-webkit-scrollbar {
    display: none;
}
.profileHeader {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    border: 1px solid var(--twitter-background);
    
    
}
.profileHeader>div{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 1px solid rebeccapurple; */
}
.profileHeader>div>h2{
    display: flex;
    gap: 2rem;
}

.profileHeader>div>p{
    display: flex;
    margin-left: 3.5rem;
}
.arrowIcon:hover{
    cursor: pointer;
    
}