.profile {
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 4rem;
    margin-left: 2rem;
    margin-top: 4rem;
}

.profile:hover {
    background-color: gainsboro;
    border-radius: 1.875rem;
    transition: color 100ms ease-out;
}

.profile-tag {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 12rem;
    gap: 1.5rem;
}

.profile-btn {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 14rem;
}