.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption:hover {
    /* background-color: #e8f5fe; */

    background-color: gainsboro;
    border-radius: 1.875rem;
    /* color: var(--twitter-color); */
    transition: color 100ms ease-out;
}

.sidebarOption>.MuiSvgIcon-root {
    padding: 1rem;
}

.sidebarOption>h2 {
    font-weight: 500;
    font-size: 1rem;
    margin-right: 1rem;
}

.sidebarOption--active {
    color: var(--twitter-color);
}
/* Link{
    text-decoration: none;
} */