body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.App {
  display: flex;
  height: 100vh;
  /* max-width: 81.25rem; */
  /* height: 50rem; */
  max-width: 81.25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}