.tweetUrReply {
    flex: 0.5;
    border-right: 0.063rem solid var(--twitter-background);
    /* min-width: fit-content; */
    /* min-width: 26rem; */
    overflow-y: scroll;
}

.tweetUrReply::-webkit-scrollbar {
    display: none;
}